body {
    margin: 0 auto;
    width: 1000px;
    color: #fff;
    font-family: sans-serif;
}

.container {
    background-color: #55ACEE;
    padding: 50px 75px 15px 75px;
    width: 450px;
    margin: 0 auto;
    button {
        margin: 0 auto;
        display: block;
        text-transform: capitalize;
        height: 50px;
        background-color: #55ACEE;
        border: 3px solid #fff;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
            color: #55ACEE;
            background-color: #fff;
        }
    }
    p {
        text-align: center;
        font-size: 20px;
    }
}